/*
 * Globals
 */

/* Links */

body {
  /*background: red;*/
  padding-top: 50px;
  /*overflow: hiddenl*/
  background-color: gray;
}

.jumbotron {
  background: #510254;
  color: #fff;
  min-height: 300px;
}
.navbar-inverse {
  background: #510254;
  border: 0;
}

section {
  padding: 20px 0;
}

.jumbotron {
  padding: 0;
}

/*.border {
  border: 1px solid #000;
}*/
.yazan {
  background: #ccc;
  min-height: 200px;
}
video {
  position: relative;
  /*z-index: -1;*/
}
.text {
  position: absolute;
  top: 100px;
  left: 800px;
  color: #fff;
  font-size: 50px;
  z-index: 1;
}
